<!-- Seção Sobre -->
<section id="sobre" class="py-24">
    <h2 class="section-title text-3xl font-bold text-slate-200 mb-12 flex items-center">
        <span class="brand-text mr-2">01.</span> Meu Compromisso com seu Negócio
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-5 gap-12 items-center">
        <div class="md:col-span-3 text-slate-400 space-y-4">
            <p>
                Meu objetivo é entender seus desafios de negócio e traduzi-los em tecnologia que gera valor real. Não se trata apenas de criar um site bonito, mas de construir uma ferramenta que ajude você a alcançar seus objetivos.
            </p>
            <p>
                Seja para aumentar suas vendas, automatizar tarefas manuais ou melhorar a experiência do seu cliente, eu mergulho no seu projeto para entregar a melhor solução possível, com comunicação clara e foco total na qualidade.
            </p>
            <p>
                Acredito que a tecnologia deve ser uma aliada do seu crescimento, e estou aqui para garantir que isso aconteça.
            </p>
        </div>
        <div class="md:col-span-2 group relative w-full max-w-sm mx-auto">
            <img src="assets/lista3d.png" alt="Imagem">
        </div>
    </div>
</section>