<app-navbar></app-navbar>

<main class="container mx-auto px-6">
    <app-hero-section RevealOnScrollDirective></app-hero-section>
    
    <app-about-section RevealOnScrollDirective></app-about-section>
    
    <app-introduction-section RevealOnScrollDirective></app-introduction-section>
    
    <app-solutions-section RevealOnScrollDirective></app-solutions-section>
    
    <app-results-section RevealOnScrollDirective></app-results-section>
    
    <app-testimonials-section RevealOnScrollDirective></app-testimonials-section>
    
    <app-social-links></app-social-links>
    
    <app-contact-section RevealOnScrollDirective></app-contact-section>
</main>